@using DTO

<div class="tags mt-2">
  @foreach (var tag in Tags)
  {
    <span class="badge bg-secondary me-1">
      @tag.Key
      <button type="button" class="btn-close btn-close-white ms-1"
              @onclick="() => RemoveTag(tag)"></button>
    </span>
  }
</div>

@code {
  [Parameter]
  public List<TagDto> Tags { get; set; } = new List<TagDto>();

  [Parameter]
  public EventCallback<TagDto> OnTagRemoved { get; set; }

  private async Task RemoveTag(TagDto tag)
  {
    await OnTagRemoved.InvokeAsync(tag);
  }
}