@page "/CheckIn"
@using DTO
@using Frontend.Services.Interfaces
@using Humanizer
@using Microsoft.AspNetCore.Components.Authorization
@inject IEmotionCheckInService EmotionCheckInService
@inject NavigationManager NavigationManager

<AuthorizeView>
  <Authorized>
    <h3>GetAll</h3>

    <button class="btn btn-primary" @onclick="NavigateToCreateCheckIn">Create CheckIn</button>

    <table class="table">
      <thead>
      <tr>
        <th>Emotion</th>
        <th>Description</th>
        <th>Tags</th>
        <th>Created</th>
        <th>Edit</th>
        <th>View Reactions</th>
      </tr>
      </thead>
      <tbody>
      @foreach (var checkIn in _checkIns)
      {
        <tr>
          <td>@checkIn.Emotion</td>
          <td>@checkIn.Description</td>
          <td>
            <div class="tags mt-2">
              @foreach (var tag in checkIn.Tags)
              {
                <span class="badge bg-secondary me-1">
                  @tag.Key
                </span>
              }
            </div>
          </td>
          <td>@DateTime.Parse(checkIn.CreatedAt).Humanize()</td>
          <td>
            <button class="btn btn-secondary" @onclick="() => NavigateToEditEmotion(checkIn.Id.Value)">Edit</button>
          </td>
          <td>
            <button class="btn btn-warning" @onclick="() => NavigateToReactions(checkIn.Id.Value)">Reactions</button>
          </td>
        </tr>
      }
      </tbody>
    </table>
  </Authorized>
</AuthorizeView>

@code {
  private List<EmotionCheckInDto> _checkIns = new List<EmotionCheckInDto>();

  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
    _checkIns = await EmotionCheckInService.GetAll();
    StateHasChanged();
  }

  private void NavigateToCreateCheckIn()
  {
    NavigationManager.NavigateTo("/CheckIn/Create");
  }

  private void NavigateToEditEmotion(int id)
  {
    NavigationManager.NavigateTo($"/CheckIn/Edit/{id}");
  }

  private void NavigateToReactions(int id)
  {
    NavigationManager.NavigateTo($"/CheckIn/Reactions/{id}");
  }
}