@page "/CheckIn"
@using API.DTO
@using Frontend.Services.Interfaces
@using Microsoft.AspNetCore.Components.Authorization
@inject IEmotionCheckInService EmotionCheckInService
@inject NavigationManager NavigationManager


<AuthorizeView>
  <Authorized>
    <h3>GetAll</h3>

    <button class="btn btn-primary" @onclick="NavigateToCreateCheckIn">Create CheckIn</button>

    <table class="table">
      <thead>
      <tr>
        <th>Id</th>
        <th>Emotion</th>
        <th>Tags</th>
        <th>Created</th>
        <th>Edit</th>
      </tr>
      </thead>
      <tbody>
      @foreach (var checkIn in _checkIns)
      {
        <tr>
          <td>@checkIn.Id</td>
          <td>@checkIn.Emotion</td>
          <td></td>
          <td>@checkIn.CreatedAt</td>
          <td>
            <button class="btn btn-secondary" @onclick="() => NavigateToEditEmotion(checkIn.Id.Value)">Edit</button>
          </td>
        </tr>
      }
      </tbody>
    </table>
  </Authorized>
</AuthorizeView>

@code {
  private List<EmotionCheckInDTO> _checkIns = new List<EmotionCheckInDTO>();

  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
    _checkIns = await EmotionCheckInService.GetAll();
    StateHasChanged();
  }

  private void NavigateToCreateCheckIn()
  {
    NavigationManager.NavigateTo("/CheckIn/Create");
  }


  private void NavigateToEditEmotion(int id)
  {
    NavigationManager.NavigateTo($"/CheckIn/Edit/{id}");
  }

}