@using API.DTO
@using Frontend.Services
@using Frontend.Services.Interfaces
@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase

@inject AuthenticationStateProvider AuthService 

<div class="page">
  <div class="sidebar">
    <NavMenu/>
  </div>

  <main>
    <div class="top-row px-4">
      <AuthorizeView>
        <Authorized>
          <a>@context.User?.Identity?.Name {} - DEVELOPMENT</a>
        </Authorized>
        <NotAuthorized>
          <a>DEVELOPMENT</a>
        </NotAuthorized>
      </AuthorizeView>
    </div>

    <article class="content px-4">
      @Body
    </article>
  </main>
</div>

<div id="blazor-error-ui">
  An unhandled error has occurred.
  <a href="" class="reload">Reload</a>
  <a class="dismiss">🗙</a>
</div>

@code
{
  // on initialized async
  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
  }
}