@page "/"
@using Frontend.Services.Interfaces
@inject IStatusService statusService

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<h1>Server Status</h1>

<p>@isServerRunning</p>
<p>@serverStatus</p>

@code {
    private bool isServerRunning;
    private string serverStatus;
    private string statusCode;
    
    protected override async Task OnInitializedAsync()
    {
        var (isOkay, statusMsg, _statusCode) = await statusService.GetStatusAsync();
        isServerRunning = isOkay;
        serverStatus = statusMsg;
        statusCode = _statusCode;
    }
}