@page "/CheckIn/EmotionCheckInUpdate/{id:int}/{emotion}"
@using API.DTO
@using Frontend.Services
@using Frontend.Services.Interfaces
@inject NavigationManager NavigationManager
@inject IEmotionCheckInService EmotionCheckInService

<h3>Update Emotion Check-In</h3>

@if (emotionCheckIn != null)
{
  <form method="post" @onsubmit="Submit">
    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" class="form-control" id="description" @bind="emotionCheckIn.Id" placeholder="Enter Description">
    </div>

    <button type="submit" class="btn btn-primary">Save Changes</button>
  </form>
}

@code {
  [Parameter] public int Id { get; set; }
  [Parameter] public string Emotion { get; set; }
  private EmotionCheckInDTO? emotionCheckIn;

  protected override async Task OnInitializedAsync()
  {
    emotionCheckIn = await EmotionCheckInService.Get(Id);
  }

  private async Task Submit()
  {
    if (emotionCheckIn != null)
    {
      emotionCheckIn.Emotion = Emotion;
      await EmotionCheckInService.Update(Id, emotionCheckIn);
      NavigationManager.NavigateTo("/CheckIn");
    }
  }
}